{% extends "index.html" %}

    {% block blockitem %}
        <h1>{{ block_title }}:</h1>
        {% if block_title == 'Books' %}
        <ul>

            {% for book in book_list %}
            <li>{{ book }}</li>
            {% endfor %}
        </ul>
        {% else %}
            {{ book_list[0] }}
        {% endif %}

    {% endblock %}

{% block add_record %}
    <div class="container add-item">
    <h3>Add new book</h3>
        <form action="/books" method="POST">
            <label for="title">Title:</label>
            <input type="text" name="title" id="title" required>

            <label for="author">Author:</label>
            <input type="text" name="author" id="author" required>

            <label for="year">Year:</label>
            <input type="text" name="year" id="year" required>

            <label for="price">Price:</label>
            <input type="number" name="price" id="price" required>

            <input type="submit" value="Submit">
        </form>
    <h5>{{ posted }}</h5>
    </div>
{% endblock %}

</body>
</html>